
html,body{
    background-color: #999999;
    background-image: url("../images/background.png");
justify-content: center;
display: flex;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: medium;
color: black;
}
        
#container{
    width: 970px;
    padding: 10px;
    justify-content: center;
    
}

.sections{
    width: 950px;
    padding: 10px;
    background-color: chartreuse;
}

.h1{
    width: 950px;
    padding: 10px;
    text-align: center;
    background-color: crimson;
    border-top: 10px solid chartreuse;
    border-left: 10px solid chartreuse;
    border-bottom: 10px solid chartreuse;
    border-right: 10px solid chartreuse;   
}