html, body{
    display: flex;
    justify-content: center;
    background-image: url(images/background.png);
}

nav{
    display: flex;
    justify-content: center;
}

#container{
    width:1001px;
    border: 1px solid black;
    padding:7px;

}

canvas{
       background-image: url(images/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
 
}

a:link, a:hover{
    background-color: yellow;
    padding:10px;
    margin: 20px;
    text-decoration: none;
    color:blue;
}

a:hover{
    background-color: grey;
    color: black;
}